*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: 200px 1fr;
    min-height: 100vh;
}

.main{
    background-color: rgb(194, 194, 185);
    padding: 1.4rem;
   
}
.aside{
    background-color: rgb(68, 61, 61);
    padding: 1.4rem;
    color: #ffffff;
}
table{
    width: 100%;
    border-collapse: collapse;
     border: 1px solid #7d7979;
}
.borderTable{
 border: 1px solid #7d7979;
 
}

th, td {
   
    padding: 0.8rem;
    text-align: left;
}
button{
    background-color: rgb(194, 194, 185);
    padding: .4rem;
    font-size: 1rem;
}
.green{
    background-color: rgb(150, 226, 150);
}
.red{
    background-color: rgb(255, 203, 203);
}